<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robot">
    <xacro:arg name="arm_enabled" default="true"/>
    <xacro:arg name="robot_namespace" default="agv_with_arm"/>
    <xacro:arg name="initial_positions_file" default="$(find agv_with_arm)/config/initial_positions.yaml" />

    <!-- robot description -->
    <xacro:include filename="$(find agv_with_arm)/urdf/agv/robot_core.xacro" />

    <!-- 机械臂 -->
    <xacro:if value="$(arg arm_enabled)">
        <xacro:include filename="$(find agv_with_arm)/urdf/arm/aubo.gazebo.xacro" />

        <joint name="arm_joint" type="fixed">
            <parent link="roof_link" />
            <child link = "arm_base_link" />
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
        </joint>

        <!-- 控制器 -->
        <xacro:include filename="$(find agv_with_arm)/urdf/arm/aubo_i5.ros2_control.xacro" />
        <xacro:aubo_i5_ros2_control name="GazeboSystem" initial_positions_file="$(arg initial_positions_file)"/>

    </xacro:if>


    <!-- gazebo 仿真配置 -->
    <xacro:include filename="$(find agv_with_arm)/urdf/agv/gazebo_sensor.xacro"/>
    <xacro:gazebo_sensor />

    <!-- unless ros2_control, use gazebo_control -->
    <!-- <xacro:unless value="$(arg use_ros2_control)">
        <xacro:include filename="gazebo_control.xacro" />
    </xacro:unless> -->
</robot>